/*
Font: Zen Maru Gothic
Text Color (White Smoke): #F5F5F5;
Background Color (Black): #110819;
Primary Color (Rebecca Purple): #663399;
Secondary Color (Green): #669933;

Links
Unvisited Links (Soft Yellow): #ffff90
Active Link (Dark Blue/Green): #05676e
Visited Link (Yellow): #ffff00
 */

 :root {
   --primary-color: #663399;
   --secondary-color: #669933;
   --black: #110819;
   --text-color: #F5F5F5;
   --unvisited-link-color: #ffff90;
   --active-link-color: #05676e;
   --visited-link-color: #ffff00;
   --freepik-link-color: #808080;
   --font-weight-body: 400;
   --font-size-body: 16px;
   --font-weight-headings: 700;
   --max-width-container: 700px;
   --cursor-style: pointer;
   --transition-opacity: 1s opacity;
   --margin-center: 0 auto;
 }

* {
 box-sizing: border-box;
 /* forces the padding and border to be included in the final
 specified width rather than being added on top, with the
 width of the item itself changing to accommodate the padding
 and border */
}

body {
  background-color: var(--black);
  color: var(--text-color);
  font-family: 'Zen Maru Gothic', sans-serif;
  font-weight: var(--font-weight-body);
  font-size: var(--font-size-body);
  line-height: 1.6;
}

h1 {
  font-size: 30px;
  font-weight: var(--font-weight-headings);
}

h2 {
  font-size: 25px;
  font-weight: var(--font-weight-headings);
}

h3 {
  font-size: 20px;
  font-weight: var(--font-weight-headings);
}

a {
  color: var(--unvisited-link-color);
}

a:visited {
  /* visited link */
  color: var(--visited-link-color);
}

a:hover, a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
  transition: var(--transition-opacity);
}

a:active {
  /* selected link */
  color: var(--active-link-color);
}

button, .button {
  /* overwrites browser defaults and resets the border */
  border: none;
  /* takes the font from the outer container */
  font-family: inherit;
  background-color: var(--primary-color);
  color: var(--text-color);
  text-decoration: none;
  margin: 15px 0 0 10px;
  padding: 5px;
  border-radius: 1.5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  transition: var(--transition-opacity);
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: var(--cursor-style);
  opacity: 0.8;
}

input, textarea {
margin: 1.75%;
background: none;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.navigation-list__item--active {
  text-decoration: none;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  margin: var(--margin-center);
}

.profile-portrait {
  border-radius: 80%;
  float: left;
  width: 250px;
  margin-right: 40px;
}

#button-work {
  background-color: var(--primary-color);
  color: var(--text-color);
}

#button-contact {
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.standard-submit {
  color: #F5F5F5;
  cursor: var(--cursor-style);
  transition: var(--transition-opacity);
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 20px;
}

#social-links a {
  text-decoration: none;
}

/* about.html */
.about {
  text-align: center;
  padding: 10px;
  margin: var(--margin-center);
  max-width: var(--max-width-container);
}

.about-table {
  text-align: center;
  margin: 50px auto;
  padding: 15px;
}

.about-table__level {
  padding: 10px;
}

.about-cv {
  padding-bottom: 15px;
}

#cv-button {
  color: var(--text-color);
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(146px, 2px);
  }
  to {
    transform: translate(-300px, 2px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

#freepik-link {
  font-size: 10px;
  text-decoration: none;
  color: var(--freepik-link-color);
}

/* work.html */
.contact-heading {
  text-align: center;
  margin: 10px auto;
  max-width: var(--max-width-container);
}

.projects-intro {
  text-align: center;
  margin: 10px auto;
  max-width: var(--max-width-container);
}

.projects-intro p {
  padding-bottom: 15px;
}

/* contact.html */
.contact {
  max-width: var(--max-width-container);
  margin: var(--margin-center);
}

.contact-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.contact-form {
  text-align: right;
  margin-top: 30px;
}

input {
  color: var(--text-color);
  max-width: 200px;
}

textarea {
  color: var(--text-color);
  width: 300px;
}

.vl {
  border-left: 1px solid whitesmoke;
  height: 650px;
  position: absolute;
  left: 50%;
  margin: inherit;
}

.contact-footer {
  padding-top: 20px;
}

/* start grid fallback */
.grid__item {
 display: inline-block;
 width: 33%;
}
/* end grid fallback */

@supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    grid-gap: 20px;
    margin: 20px;
  }

  .grid__item {
    background-color: var(--primary-color);
    opacity: 80%;
    width: auto;
    min-height: auto;
    padding: 15px;
  }

  .grid__item:last-child {
    grid-column: 3 / 3;
    grid-row: 1 / 3;
  }
}

/*
  or
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
*/

#header-logo {
  width: 200px;
  height: 70px;
}

/* responsive design through media queries */
@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media all and (max-width: 650px) {
  .contact-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
  }

  .contact-form, .contact-info {
    text-align: center;
    margin: var(--margin-center);
  }

  .vl {
    display: none;
  }
}

@media all and (min-width:500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 15px;
  }
}
